<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 

  
  <div class="row-fluid">
  <div class="span4"><%= f.label :email, class: "sulabel" %><br>
  <%= f.email_field :email, autofocus: true, class: "su" %></div>

  <div class="span4"><%= f.label :name, class: "sulabel" %><br>
  <%= f.text_field :name, autofocus: true, class: "su" %></div>

  <div class="span4"><%= f.label :password, class: "sulabel" %><br>
    <%= f.password_field :password, autocomplete: "off", class: "su" %>

  <%= f.label :password_confirmation, class: "sulabel" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "su" %></div>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>


