<h1> Welcome, <%=current_user.name%> </h1>
<%=link_to("Sign Out", destroy_user_session_path, :method => "delete") %>
<% if flash[:address] %>
<h2> <%=flash[:address]%> </h2>
<% end %>

<%=link_to("See All Projects", "/projects") %>
<h2> List a project </h2>




<%= form_for @project do |f| %>

  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>


  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
 
 
  <p><%= f.submit %></p>
<% end %>