<h1> Welcome, <%=current_user.name%> </h1>

<h2> List a project </h2>




<%= form_for @project do |f| %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>

  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
 
 
  <p><%= f.submit %></p>
<% end %>