<div class="signintitle"> SIGN IN </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="signincontents"> 
    <div class="signlab"><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div class="signlab"><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="signlab"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end %>

    <div class="buttonholder"><%= f.submit "Sign in", class: "sb2" %></div>
    <% end %>
  </div>

    <div class="signlab">
    <%= render "devise/shared/links" %>
    </div>
